<div class="col-lg-6">
	<div class="card shadow mt-5">
		<div class="card-body">
			<p class="lead"><%= @workshop_count %> Total Workshops</p>
			<p class="lead"><%= @upcoming_workshop_count %> Upcoming Workshops</p>
			<p class="lead"><%= @past_workshop_count %>  Workshops Organized Recently  </p>
		</div>
	</div>
</div>
<div class="col-lg-6">
	<div class="card shadow mt-5">
		<div class="card-body">
			<p class="lead"><%= @booking_count %> Total Bookings </p>
			<p class="lead">$<%= @revenue_earned %> Total Revenue </p>
		</div>
	</div>
</div>
<div class="col-lg-6">
	<div class="card shadow mt-5">
		<div class="card-body">
			<p class="lead"><%= @customer_count %>  Total Customers</p>
		</div>
	</div>
</div>